body{
     background-color: rgb(83, 83, 135);
     font-family:cursive;
     text-align: center;
     color:aquamarine;
}
h1{
     font-size: 8rem;
}
.box{
    font-size: 2rem;
}
.box1{
    float: left;
    padding-left: 330px;
}
.box2{
    float: right;
    padding-right: 330px;
}
button{
    font-size: 1rem;
    color: cadetblue;
}
